
 *{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 .sidebar{
     position: fixed;
     left: 0;
     width:250px ;
     height: 100%;
     background: #042331;

}
.sidebar header{
font-size: 22px;
color: white; 
text-align: center;
line-height: 70px;
background: #063146;
user-select: none;

}
.sidebar ul a {
display: block;
height: 100%;
width: 100%;
line-height:65px;
font-size: 20px;
color:white;
padding-left: 40px;
box-sizing:border-box ;
border-top: 1px solid   rgba(255, 255, 255,.1) ;
border-bottom: 1px solid black;
transition:.4s;

}
ul li :hover a {
    padding-left: 50px;
}


section{
   background-image: url("justen.jpg")  ; 
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover ;
   height: 100vh;
}

